* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

.headerpic { 
  background: url("http://images.huffingtonpost.com/2013-06-24-fries.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

/* indicate active page on nav */
.active {
    background-color: #4CAF50;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 24px;
}

/* Left and right column */
.column.side {
    width: 40%;
}

/* Middle column */
.column.middle {
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}


.float {
  float: left;
  display: block;
  margin-right: 10px;
  margin-left: 10px;
}

.floata {
  float: left;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width 70%
}
